.idea
.pnpm-store
.nx
.rollup.cache

.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

dist
dist-ssr
node_modules
output

.config.yml
.config.*.yml
!.config.template.yml
.DS_Store
.env
.env.*
!.env.dist
.eslintcache
*.local
*.log
*.ntvs*
*.njsproj
*.sln
*.suo
*.sw?
lerna-debug.log*
npm-debug.log*
package-lock.json
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*